html, body{
  overflow-x: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  margin: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  border: 1px solid transparent;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  transition-delay: 100ms;
  image-rendering: crisp-edges;
}

.gallery img:hover {
  transform: scale(1.03) rotate(-1deg);
  border: 1px solid gray;
  box-shadow: 0 0 25px gray;
  cursor: pointer;
}

#loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
}