*{
  background: none;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/404/302/510/jujutsu-kaisen-gojo-satoru-hd-wallpaper-a9e0784df12aadbbf617789ff071360d.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0.3));
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 15px;
  padding-bottom: 25px;
  background: rgba(0, 0, 0, 0.4);
  min-width: 250px;
  width: 65%;
  max-width: 900px;
  min-height: 300px;
  height: auto;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  box-shadow: 0 0 40px rgba(127, 127, 127, 0.9);
}

.header {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.sign-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sign-form > label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

select {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 5px;
}

@media screen and (max-width: 280px) {
  .header{
    font-size: 30px;
    font-weight: 600;
  }
  #submit {
    font-size: 20px;
  }
}