@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: rgb(41, 40, 40);
  color: white;
  scroll-behavior: smooth;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-left: auto; 
  margin-right: auto;
}

th, td {
  border: 1px solid #555;
  text-align: left;
  padding: 12px;
  vertical-align: middle; 
  align-items: center;
}

th {
  align-items: center;
  text-align: center;
  background-color: #333;
  color: white;
}

tr{
  align-items: center;
  text-align: center;
}

tr:hover {
  background-color: #555;
}

tr:nth-child(even) {
  background-color: #444;
}

th, td, tr {
  transition: background-color 0.3s ease;
}

h2{
  text-align: center;
  align-items: center;
}

